node-red/flows.json
[{"id":"940ee996.63bf08","type":"tab","label":"Daily Routine","disabled":false,"info":""},{"id":"d2e3c9ff.496078","type":"tab","label":"Fermentation Checks","disabled":false,"info":""},{"id":"e3258855.e78f08","type":"tab","label":"Fridge & Freezer Checks","disabled":false,"info":""},{"id":"dc41fb74.c44e78","type":"tab","label":"Train Checks","disabled":false,"info":""},{"id":"bed011e9.a935","type":"tab","label":"Dimmer Events","disabled":false,"info":""},{"id":"175a0f3.a92b5f1","type":"server","z":"","name":"Home Assistant"},{"id":"ec376023.a8454","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"82d125a1.e8ed98","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["bddd7da2.65b78"]]},{"id":"61978df0.c95884","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["938ec7bf.3d7668"]]},{"id":"938ec7bf.3d7668","type":"api-call-service","z":"940ee996.63bf08","name":"Turn Off Coffee Machine","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.light_1\"}","mergecontext":"","output_location":"","output_location_type":"none","x":370,"y":240,"wires":[[]]},{"id":"a84697a1.da2058","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["bddd7da2.65b78"]]},{"id":"bddd7da2.65b78","type":"api-call-service","z":"940ee996.63bf08","name":"Turn On Coffee Machine","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.light_1\"}","mergecontext":"","output_location":"","output_location_type":"none","x":370,"y":180,"wires":[[]]},{"id":"5c4b6b73.d5f844","type":"api-call-service","z":"940ee996.63bf08","name":"Select Morning Playlist","server":"175a0f3.a92b5f1","version":"1","debugenabled":false,"service_domain":"media_player","service":"select_source","entityId":"media_player.living_room","data":"{\"source\":\"Morning\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1100,"y":120,"wires":[["810af8ae.986a98"]]},{"id":"12402f7f.156191","type":"api-call-service","z":"940ee996.63bf08","name":"Set to Shuffle","server":"175a0f3.a92b5f1","version":"1","debugenabled":false,"service_domain":"media_player","service":"shuffle_set","entityId":"media_player.living_room","data":"{\"shuffle\":\"true\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":120,"wires":[["49353afa.7cfc64"]]},{"id":"49353afa.7cfc64","type":"api-call-service","z":"940ee996.63bf08","name":"Set Volume","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room\",\"volume_level\":\".10\"}","mergecontext":"","output_location":"","output_location_type":"none","x":890,"y":120,"wires":[["5c4b6b73.d5f844"]]},{"id":"810af8ae.986a98","type":"api-call-service","z":"940ee996.63bf08","name":"Play Playlist","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"media_play","data":"{\"entity_id\":\"media_player.living_room\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1310,"y":120,"wires":[[]]},{"id":"172b60c6.519cdf","type":"api-current-state","z":"940ee996.63bf08","name":"Viktor Home","server":"175a0f3.a92b5f1","outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.viktor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":120,"wires":[["1650224c.c4532e"],[]]},{"id":"3e3d6089.43f99","type":"trigger-state","z":"d2e3c9ff.496078","name":"Fermentation Temp from >= 56 to < 56","server":"175a0f3.a92b5f1","entityid":"sensor.fermentation_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"avg9kq2ro0r","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"56"},{"id":"bg6ftosmdrs","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"56"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":170,"y":200,"wires":[["d69f6b66.c6d148"],[]]},{"id":"51d15fe8.7dec2","type":"trigger-state","z":"d2e3c9ff.496078","name":"Fermentation Temp from <= 64 to > 64","server":"175a0f3.a92b5f1","entityid":"sensor.fermentation_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"rtrsasi6cp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"64"},{"id":"tahtis2dkz","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"64"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":170,"y":280,"wires":[["d69f6b66.c6d148"],[]]},{"id":"1650224c.c4532e","type":"api-current-state","z":"940ee996.63bf08","name":"Not playing","server":"175a0f3.a92b5f1","outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.living_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":120,"wires":[["12402f7f.156191"],[]]},{"id":"dd38922c.df38e","type":"trigger-state","z":"d2e3c9ff.496078","name":"Fermentation Temp from <= 65 to > 65","server":"175a0f3.a92b5f1","entityid":"sensor.fermentation_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"encx03z3bdh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"65"},{"id":"ra6gjv0dxjm","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"65"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":170,"y":340,"wires":[["d69f6b66.c6d148"],[]]},{"id":"bfba0600.3c1c18","type":"trigger-state","z":"d2e3c9ff.496078","name":"Fermentation Temp from >= 55 to < 55","server":"175a0f3.a92b5f1","entityid":"sensor.fermentation_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1r4dnab5n4m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"55"},{"id":"fkgze0ucxtp","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"55"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":170,"y":140,"wires":[["d69f6b66.c6d148"],[]]},{"id":"842ac84a.78bc88","type":"trigger-state","z":"e3258855.e78f08","name":"Kitchen Freezer from <= -12C to > -12C","server":"175a0f3.a92b5f1","entityid":"sensor.kitchen_freezer_temperature_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"yvggfhppujo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"-12"},{"id":"m7lyoqlhr5","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"-12"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":180,"y":140,"wires":[["ebac1d90.88d2b"],[]]},{"id":"7c2da6f6.af1418","type":"trigger-state","z":"e3258855.e78f08","name":"Kitchen Fridge from <= 10C to > 10C","server":"175a0f3.a92b5f1","entityid":"sensor.kitchen_fridge_temperature_2","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9ig5uad5huo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"10"},{"id":"minr0bft0m","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":170,"y":200,"wires":[["ebac1d90.88d2b"],[]]},{"id":"eae7ba48.1b5218","type":"trigger-state","z":"d2e3c9ff.496078","name":"Test Temperature","server":"175a0f3.a92b5f1","entityid":"sensor.fermentation_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"upojbdv58fk","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"56"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":550,"y":80,"wires":[["7c5558fb.2940b8"],[]]},{"id":"3f26fa7a.b924b6","type":"trigger-state","z":"e3258855.e78f08","name":"Basement Freezer from <= -12C to > -12C","server":"175a0f3.a92b5f1","entityid":"sensor.basement_freezer_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5wwycx521ij","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"-12"},{"id":"ezbcxejp1bf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"-12"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":180,"y":280,"wires":[["ebac1d90.88d2b"],[]]},{"id":"11f2c285.842dcd","type":"trigger-state","z":"e3258855.e78f08","name":"Basement Fridge from <= 10C to > 10C","server":"175a0f3.a92b5f1","entityid":"sensor.basement_fridge_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9ig5uad5huo","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"10"},{"id":"minr0bft0m","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":180,"y":340,"wires":[["ebac1d90.88d2b"],[]]},{"id":"7c5558fb.2940b8","type":"change","z":"d2e3c9ff.496078","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"msg.data.event.old_state.attributes.friendly_name & ': ' & msg.payload & 'C'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":80,"wires":[["ec5e29b7.fc2378"]]},{"id":"ef29fc99.02294","type":"debug","z":"d2e3c9ff.496078","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":80,"wires":[]},{"id":"ec5e29b7.fc2378","type":"function","z":"d2e3c9ff.496078","name":"Set msg.payload","func":"msg.payload = {\n    \"data\": {\n        \"message\": msg.message\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":80,"wires":[["ef29fc99.02294"]]},{"id":"307050bc.5831","type":"function","z":"d2e3c9ff.496078","name":"58","func":"msg.payload = {\n    \"data\": {\n        \"message\": 56\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["eae7ba48.1b5218"]]},{"id":"d69f6b66.c6d148","type":"change","z":"d2e3c9ff.496078","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"msg.data.event.old_state.attributes.friendly_name & ': ' & msg.payload & 'C'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["e89a4f1b.797c9"]]},{"id":"e89a4f1b.797c9","type":"function","z":"d2e3c9ff.496078","name":"Set msg.payload","func":"msg.payload = {\n    \"data\": {\n        \"message\": msg.message\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["517990df.a7dda"]]},{"id":"517990df.a7dda","type":"api-call-service","z":"d2e3c9ff.496078","name":"Notify Viktor","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_viktors_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":240,"wires":[[]]},{"id":"ebac1d90.88d2b","type":"change","z":"e3258855.e78f08","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"msg.data.event.old_state.attributes.friendly_name & ': ' & msg.payload & 'C'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["1792bc43.7f84b4"]]},{"id":"1792bc43.7f84b4","type":"function","z":"e3258855.e78f08","name":"Set msg.payload","func":"msg.payload = {\n    \"data\": {\n        \"message\": msg.message\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["b977ce8a.d8aab"]]},{"id":"b977ce8a.d8aab","type":"api-call-service","z":"e3258855.e78f08","name":"Notify Viktor","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"notify","service":"mobile_app_viktors_iphone","entityId":"","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":870,"y":240,"wires":[[]]},{"id":"44b3925e.02599c","type":"server-state-changed","z":"d2e3c9ff.496078","name":"Fermentation Temperature Changed","server":"175a0f3.a92b5f1","version":1,"entityidfilter":"sensor.fermentation_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":80,"wires":[["307050bc.5831"]]},{"id":"694bb013.e8617","type":"bigtimer","z":"dc41fb74.c44e78","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"56.89344","lon":"12.50099","starttime":"15","endtime":"0","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":420,"y":120,"wires":[["272571f0.55641e","660ca9c1.dd0208"],[],[]]},{"id":"b9a10df6.0874e","type":"server-state-changed","z":"dc41fb74.c44e78","name":"Train from work 1625 changed time","server":"175a0f3.a92b5f1","version":1,"entityidfilter":"sensor.train_from_work_1625","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":140,"wires":[["694bb013.e8617"]]},{"id":"6dd74f43.d5325","type":"server-state-changed","z":"dc41fb74.c44e78","name":"Train to work 0709 changed time","server":"175a0f3.a92b5f1","version":1,"entityidfilter":"sensor.train_to_work_0709","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":170,"y":100,"wires":[["694bb013.e8617"]]},{"id":"10e68f7c.f14f21","type":"api-current-state","z":"dc41fb74.c44e78","name":"","server":"175a0f3.a92b5f1","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.train_to_work_0709","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":280,"wires":[["bfec150.2c3b6e8","694bb013.e8617","dae26f22.02ebc"]]},{"id":"e7648ae.2000f78","type":"inject","z":"dc41fb74.c44e78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["10e68f7c.f14f21"]]},{"id":"bfec150.2c3b6e8","type":"function","z":"dc41fb74.c44e78","name":"","func":"msg.payload = {\n    \"data\": {\n        \"message\": msg.data.attributes.departure_state\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":360,"wires":[["63e3b13f.e3a5e"]]},{"id":"229327f4.1001d8","type":"api-call-service","z":"dc41fb74.c44e78","name":"","server":"175a0f3.a92b5f1","version":1,"service_domain":"script","service":"turn_on","entityId":"script.notify_train_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":320,"wires":[[]]},{"id":"63e3b13f.e3a5e","type":"switch","z":"dc41fb74.c44e78","name":"Check state","property":"payload.data.message","propertyType":"msg","rules":[{"t":"eq","v":"delayed","vt":"str"},{"t":"eq","v":"canceled","vt":"str"},{"t":"eq","v":"on_time","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":250,"y":360,"wires":[[],[],[]]},{"id":"dae26f22.02ebc","type":"debug","z":"dc41fb74.c44e78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":260,"wires":[]},{"id":"272571f0.55641e","type":"function","z":"dc41fb74.c44e78","name":"Set state as payload","func":"msg.payload = {\n    \"data\": {\n        \"message\": msg.data.attributes.departure_state\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["a8257d89.6a5eb"]]},{"id":"a8257d89.6a5eb","type":"switch","z":"dc41fb74.c44e78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"delayed","vt":"str"},{"t":"eq","v":"canceled","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":200,"wires":[["5759c759.985408"],["5759c759.985408"]]},{"id":"5759c759.985408","type":"api-call-service","z":"dc41fb74.c44e78","name":"","server":"175a0f3.a92b5f1","version":1,"service_domain":"script","service":"turn_on","entityId":"script.notify_train_status","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":590,"y":200,"wires":[[]]},{"id":"660ca9c1.dd0208","type":"debug","z":"dc41fb74.c44e78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":20,"wires":[]},{"id":"948e34dd.4d6b68","type":"api-call-service","z":"940ee996.63bf08","name":"Turn Off Ground Floor Lights","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.light_1, switch.plug_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":360,"wires":[[]]},{"id":"40c8b2b4.1c645c","type":"api-call-service","z":"940ee996.63bf08","name":"Turn On Ground Floor Lights","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_1, switch.plug_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":560,"y":320,"wires":[[]]},{"id":"a5a5c682.7bd118","type":"sunrise","z":"940ee996.63bf08","name":"","lat":"56.96635","lon":"12.6804","start":"sunrise","end":"sunset","x":130,"y":340,"wires":[[],["8a5660e9.12004"]]},{"id":"8a5660e9.12004","type":"switch","z":"940ee996.63bf08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":340,"wires":[["40c8b2b4.1c645c"]]},{"id":"c5362749.97bf18","type":"bigtimer","z":"940ee996.63bf08","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"56.96635","lon":"12.6804","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":460,"wires":[[],[],[]]},{"id":"d4dea964.15f088","type":"server-events","z":"bed011e9.a935","name":"","server":"175a0f3.a92b5f1","event_type":"deconz_event","x":120,"y":240,"wires":[["70c1d812.912848"]]},{"id":"a92bf793.2e5b98","type":"switch","z":"bed011e9.a935","name":"Check entity","property":"entity","propertyType":"msg","rules":[{"t":"eq","v":"dimmer_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":240,"wires":[["beefc662.db1138"]]},{"id":"beefc662.db1138","type":"switch","z":"bed011e9.a935","name":"Check event","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"num"},{"t":"eq","v":"2002","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":120,"wires":[["97de1757.1d37b8"],["2ccd0d74.009592"]]},{"id":"70c1d812.912848","type":"change","z":"bed011e9.a935","name":"","rules":[{"t":"set","p":"entity","pt":"msg","to":"payload.event.id","tot":"msg"},{"t":"set","p":"event","pt":"msg","to":"payload.event.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["a92bf793.2e5b98"]]},{"id":"97de1757.1d37b8","type":"api-call-service","z":"bed011e9.a935","name":"Turn On Ground Floor Lights","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.plug_1, switch.plug_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":80,"wires":[[]]},{"id":"2ccd0d74.009592","type":"api-call-service","z":"bed011e9.a935","name":"Turn Off Ground Floor Lights","server":"175a0f3.a92b5f1","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.plug_1, switch.plug_3","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":960,"y":160,"wires":[[]]},{"id":"888a35fd.429018","type":"change","z":"dc41fb74.c44e78","name":"","rules":[{"t":"set","p":"departure_state","pt":"msg","to":"data.attributes.departure_state","tot":"msg"},{"t":"set","p":"other_information","pt":"msg","to":"data.attributes.other_information","tot":"msg"},{"t":"set","p":"deviations","pt":"msg","to":"data.attributes.deviations","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[[]]},{"id":"7a2f8e6b.a4dcb","type":"server-state-changed","z":"d2e3c9ff.496078","name":"","server":"175a0f3.a92b5f1","version":1,"entityidfilter":"script.sonos_group_all","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":360,"y":460,"wires":[["df46254b.a30fe8"],[]]},{"id":"df46254b.a30fe8","type":"debug","z":"d2e3c9ff.496078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":460,"wires":[]}]