node-red/flows.json
[{"id":"940ee996.63bf08","type":"tab","label":"Daily Routine","disabled":false,"info":""},{"id":"d2e3c9ff.496078","type":"tab","label":"Fermentation Checks","disabled":false,"info":""},{"id":"175a0f3.a92b5f1","type":"server","z":"","name":"Home Assistant"},{"id":"82d125a1.e8ed98","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 06 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["bddd7da2.65b78","172b60c6.519cdf"]]},{"id":"61978df0.c95884","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["938ec7bf.3d7668"]]},{"id":"938ec7bf.3d7668","type":"api-call-service","z":"940ee996.63bf08","name":"Turn Off Coffee Machine","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.light_1\"}","mergecontext":"","output_location":"","output_location_type":"none","x":450,"y":240,"wires":[[]]},{"id":"a84697a1.da2058","type":"inject","z":"940ee996.63bf08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["bddd7da2.65b78","172b60c6.519cdf"]]},{"id":"bddd7da2.65b78","type":"api-call-service","z":"940ee996.63bf08","name":"Turn On Coffee Machine","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.light_1\"}","mergecontext":"","output_location":"","output_location_type":"none","x":450,"y":180,"wires":[[]]},{"id":"5c4b6b73.d5f844","type":"api-call-service","z":"940ee996.63bf08","name":"Select Morning Playlist","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"select_source","data":"{\"entity_id\":\"media_player.living_room\",\"source\":\"Morning\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1120,"y":120,"wires":[["810af8ae.986a98"]]},{"id":"12402f7f.156191","type":"api-call-service","z":"940ee996.63bf08","name":"Set to Shuffle","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"shuffle_set","data":"{\"entity_id\":\"media_player.living_room\",\"shuffle\":\"true\"}","mergecontext":"","output_location":"","output_location_type":"none","x":680,"y":120,"wires":[["49353afa.7cfc64"]]},{"id":"49353afa.7cfc64","type":"api-call-service","z":"940ee996.63bf08","name":"Set Volume","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"volume_set","data":"{\"entity_id\":\"media_player.living_room\",\"volume_level\":\".15\"}","mergecontext":"","output_location":"","output_location_type":"none","x":890,"y":120,"wires":[["5c4b6b73.d5f844"]]},{"id":"810af8ae.986a98","type":"api-call-service","z":"940ee996.63bf08","name":"Play Playlist","server":"175a0f3.a92b5f1","service_domain":"media_player","service":"media_play","data":"{\"entity_id\":\"media_player.living_room\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1350,"y":120,"wires":[[]]},{"id":"172b60c6.519cdf","type":"api-current-state","z":"940ee996.63bf08","name":"Viktor Home","server":"175a0f3.a92b5f1","outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.viktor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":120,"wires":[["12402f7f.156191"],[]]},{"id":"15c56e41.3ef0c2","type":"inject","z":"d2e3c9ff.496078","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":100,"wires":[["5b178ba4.41a714"]]},{"id":"5b178ba4.41a714","type":"api-current-state","z":"d2e3c9ff.496078","name":"Fermentation Temp < 55","server":"175a0f3.a92b5f1","outputs":2,"halt_if":"55","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.fermentation_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":100,"wires":[["34660470.4aba1c","5b066bcd.538644"],[]]},{"id":"34660470.4aba1c","type":"api-call-service","z":"d2e3c9ff.496078","name":"Turn Off Fermentation Plug","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.light_3\"}","mergecontext":"","output_location":"","output_location_type":"none","x":600,"y":100,"wires":[["bd17c64.2991638"]]},{"id":"b8ed84fc.9e9e58","type":"api-call-service","z":"d2e3c9ff.496078","name":"Turn On Fermentation Plug","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.light_3\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1040,"y":100,"wires":[[]]},{"id":"184462b0.bc70fd","type":"inject","z":"d2e3c9ff.496078","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["e688e07e.5cbb4"]]},{"id":"e688e07e.5cbb4","type":"api-current-state","z":"d2e3c9ff.496078","name":"Fermentation Temp > 65","server":"175a0f3.a92b5f1","outputs":2,"halt_if":"65","halt_if_type":"num","halt_if_compare":"lte","override_topic":false,"entity_id":"sensor.fermentation_temperature","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":260,"wires":[["72ef971c.3bf178","e71758d6.39c658"],[]]},{"id":"a4c03ab4.74ce38","type":"api-call-service","z":"d2e3c9ff.496078","name":"Turn Off Fermentation Plug","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.light_3\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1040,"y":260,"wires":[[]]},{"id":"bd17c64.2991638","type":"delay","z":"d2e3c9ff.496078","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":100,"wires":[["b8ed84fc.9e9e58"]]},{"id":"c1fad24d.7a4c6","type":"delay","z":"d2e3c9ff.496078","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":260,"wires":[["a4c03ab4.74ce38"]]},{"id":"72ef971c.3bf178","type":"api-call-service","z":"d2e3c9ff.496078","name":"Turn On Fermentation Plug","server":"175a0f3.a92b5f1","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.light_3\"}","mergecontext":"","output_location":"","output_location_type":"none","x":600,"y":260,"wires":[["c1fad24d.7a4c6"]]},{"id":"e71758d6.39c658","type":"api-call-service","z":"d2e3c9ff.496078","name":"Notify Viktor","server":"175a0f3.a92b5f1","service_domain":"notify","service":"ios_viktors_iphone","data":"{\"message\": \"Fermentation temperature above 65 C\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":200,"wires":[[]]},{"id":"5b066bcd.538644","type":"api-call-service","z":"d2e3c9ff.496078","name":"Notify Viktor","server":"175a0f3.a92b5f1","service_domain":"notify","service":"ios_viktors_iphone","data":"{\"message\": \"Fermentation temperature below 55 C\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":550,"y":40,"wires":[[]]}]